
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


        <h2> {{content}} </h2>
        <div class="col s12 m7">
      <h2 class="header">Oferta dla rodzin wielodzietnych</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="http://www.piswroclaw.pl/images/news/kdr_logo.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Zapraszamy do dołączenia do programu RodzinaPLUS.</p>
            <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          </div>
          <div class="card-action">
            <a href="#">Nic</a>
          </div>
        </div>
      </div>
    </div>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">STOPKA</h5>
        <p class="grey-text text-lighten-4">Program RodzinaPLUS realizowany jest dzięki Radzie Miasta Wrocław</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Polecane strony</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">MOPS</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">500 PLUS</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">KDR</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
    </body>
  </html>
